<!-- KaTeX support -->
<link rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css"
  integrity="sha384-3DF2Qqf1t1N2dfqz8sUdwMsz5lT8fLxOD5Mgfq9vStbzUmM29m7dlpRGkExkC1XK"
  crossorigin="anonymous">

<script defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js"
  integrity="sha384-lCk8tTs+JMoH5R5R8sDyMldBr4Y3OV7KKxZoBsnZLLRo1D1fSFl+zopm3EwPmvCA"
  crossorigin="anonymous"></script>

<script defer
  src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js"
  integrity="sha384-mll67QQZ7F2p1ZKcL5eNceH5xOolZeXvwrpN5OEpL4Ew9wX4LrryUHWug6R5O9nt"
  crossorigin="anonymous"
  onload="renderMathInElement(document.body);"></script>
